body
{
  padding: 0;
  margin: 0;
  background: #EFEFEF;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#status
{
  font-weight: bold;
  font-size: 10px;
  float: left;
}

#frame
{
  font-size: 10px;
  float: right;
}

#info
{
  padding-top: 10px;
  width: 400px;
}

canvas#game
{
  width: 400px;
  height: 320px;
  border: 2px solid #CFCFCF;
  background: #FFFFFF;
}
